
<div class="container">
    <button type="button" class="btn btn-logout btn-outline-secondary" (click)="logOut()">Cerrar Sesión</button>
    <section>
        <h1>Bienvenido</h1>
       
        <!-- <app-create-user></app-create-user> -->

        <app-list-users></app-list-users>

        <div class="button-container">
            <button type="button" class="btn btn-create btn-md btn-primary" (click)="open()"> <img src="assets/more.svg"> Crear Usuario</button>

        </div>
   
    </section>

    
</div>