<h3>Listado de empleados</h3>

<div *ngIf="!isLoading; else loadingSpiner">
  <table *ngIf="employees.length > 0; else usersEmpty" class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Run</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.nombre }}</td>
        <td>{{ employee.apellido }}</td>
        <td>{{ employee.run }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
    (pageChange)="refreshEmployees()">
  </ngb-pagination>

  <select class="custom-select" [(ngModel)]="pageSize" (ngModelChange)="refreshEmployees()">
    <option [ngValue]="2">2 items por página</option>
    <option [ngValue]="4">4 items por página</option>
    <option [ngValue]="6">6 items por página</option>
  </select>
</div>

<ng-template #usersEmpty>
  <div class="users-empty">
    <img src="assets/empty-box.svg">
    <p>No hay usuarios creados</p>
  </div>
</ng-template>

<ng-template #loadingSpiner>
  <app-loading-spiner></app-loading-spiner>
</ng-template>
